.login-root {
    display : flex;
    flex-direction: column;

}
.title {
    text-align: center;
}
.p1 {
   
    text-align: left;
    padding: 100px;
}
.DropdownButton{
    display: block;
    margin: 10px;

}