@import "~@blueprintjs/core/lib/css/blueprint.css";


#login-root {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

}
    

.login-wrapper {
    min-width: 500px;
    width : 50%;
    margin : auto;

}
