@import "~@blueprintjs/core/lib/css/blueprint.css";
#h1{
    text-align: center;
    font-family: sans-serif;
    color: #E30A3F;
    font-weight: bold;
}

#login-root {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

}
.login-wrapper {
    min-width: 400px;
    width : 50%;
    margin : auto;
}
