.title {
    font-family: sans-serif;
    color: #E30A3F;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

img {
    border-radius: 8px;
    
}
.button1  {
    background-color: #E30A3F; /* Green background */
    border: 1px solid black;/* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    margin: 60px;
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}
   
  
  
