.title {
    text-align: center;
}
.t {
    text-align: center;
}
.img {
    float: left;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.p{
    text-align: center;
}