.Dropdown{
        
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   justify-items: center;
   position: absolute;
    right: 30%;
    top: 38%;
}
.para{
    text-align: center;
    position: absolute;
    right: 40%;
    top: 34%;
}
.b1{
    position: absolute;
    right: 10px;
    top: 10px;
}
.Heading1{
    font-size: x-large;
    color:black;
    font-weight: bold;
}
.p2{
    text-align: left;
    margin: 20px;
    padding: 10px;
    font-size: larger;
}
.button_update {
    position: absolute;
    width: 15%;
    top: 45%;
    right: 45%
    
    
}
.button_save {
    position: absolute;
    width: 15%;
    top: 45%;
    right: 25%
   
}
.button_test {
    position: absolute;
    top: 16%;
    right: 1%;
   
}
.list_button{
    float: right;
}
.alert_staffpage{
    position: absolute;
    top: 12%;
    left: 30%;
}


.list{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-items: center;
    
}